flows.json
[
    {
        "id": "20fefcd1f7dfccb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "221cc547929cc120",
        "type": "tf-model",
        "z": "20fefcd1f7dfccb2",
        "modelURL": "https://storage.googleapis.com/tfjs-models/savedmodel/ssdlite_mobilenet_v2/model.json",
        "outputNode": "",
        "name": "COCO SSD lite",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e9ec33479da844d2"
            ]
        ]
    },
    {
        "id": "5e8146b4fbb2088f",
        "type": "tf-function",
        "z": "20fefcd1f7dfccb2",
        "name": "tf-function 1",
        "func": "const image = tf.tidy(() => {\n    return tf.node.decodeImage(msg.payload, 3).expandDims(0);\n});\n\nreturn { payload: { image_tensor: image } };\n",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "221cc547929cc120"
            ]
        ]
    },
    {
        "id": "56503f881a4935af",
        "type": "file in",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "filename": "C:\\Users\\ming\\Pictures\\car.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "5e8146b4fbb2088f",
                "e9870f3dd78f0602",
                "414a8f9518330247"
            ]
        ]
    },
    {
        "id": "b1fc09ad8516b245",
        "type": "inject",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "56503f881a4935af"
            ]
        ]
    },
    {
        "id": "e9ec33479da844d2",
        "type": "post-object-detection",
        "z": "20fefcd1f7dfccb2",
        "classesURL": "https://raw.githubusercontent.com/yhwang/node-red-contrib-tf-model/master/examples/object-detection/classes.json",
        "iou": "0.5",
        "minScore": "0.5",
        "name": "",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "4e7360abefdb2f02"
            ]
        ]
    },
    {
        "id": "d524f5a203ea4515",
        "type": "bbox-image",
        "z": "20fefcd1f7dfccb2",
        "strokeWidth": "2",
        "fontSize": "10",
        "objectsProp": "objects",
        "objectsPropType": "msgPayload",
        "imageProp": "image",
        "imagePropType": "msgPayload",
        "name": "",
        "x": 850,
        "y": 380,
        "wires": [
            [
                "0220a3c6a3d08b51"
            ]
        ]
    },
    {
        "id": "0220a3c6a3d08b51",
        "type": "image",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9870f3dd78f0602",
        "type": "change",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "image",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "d144db7ffd6b2efc"
            ]
        ]
    },
    {
        "id": "4e7360abefdb2f02",
        "type": "change",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "objects",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "d144db7ffd6b2efc"
            ]
        ]
    },
    {
        "id": "d144db7ffd6b2efc",
        "type": "join",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "d524f5a203ea4515"
            ]
        ]
    },
    {
        "id": "414a8f9518330247",
        "type": "image",
        "z": "20fefcd1f7dfccb2",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1080,
        "y": 140,
        "wires": []
    }
]